html {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}


/**
 * Headings
 */

h1, h2, h3, h4 {margin: 0 0 10px;}

h1 {
  font-size: 50px;
  margin-bottom: 40px;
}

h2 {font-size: 40px;}

h3 {font-size: 20px;}

p {margin: 0 0 10px;}

.intro-text {
  font-size: 18px;
  line-height: 1.4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container--skinny {max-width: 800px;}


/**
 * Nav
 */

nav {
  background: #222;
  padding: 20px;
  position: fixed;
  top: 40px;
  right: 0;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

nav a:hover {
  border-color: white;
}


/**
 * section
 */

.section {
  padding: 100px 0;
  box-sizing: border-box;
}

  .section_header {
    text-align: center;
    margin-bottom: 80px;
  }


/**
 * Introduction
 */

.introduction {
  background: #222;
  background-image: url('img/bg.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
  display: flex;
}

  .introduction_content {
    transform: translateY(-10%);
    max-width: 800px;
    align-self: center;
    margin: 0 auto;
    line-height: 1.4;
  }

  .fuckyeah {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
    width: 40px;
    fill: white;
    animation: bounce 1s infinite;
  }

  @keyframes bounce {
   0%   {transform: translateY(0);}
   25%  {transform: translateY(-20%);}
   50%, 100% {transform: translateY(0);}
  }


/**
 * Process
 */

.process {
  display: flex;
  flex-basis: 1;
  list-style: none;
  justify-content: space-between;
  text-align: center;
}

.process li {max-width: 300px;}

.process svg {
  height: 100px;
  margin-bottom: 20px;
}



/**
 * Portfolio
 */

.portfolio {
  background: #f8f8f8;
}

blockquote {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  font-style: justify;
  font-size: 24px;
  margin-top: 40px;
  color: #666;
  text-align: left;
}

blockquote svg {
  position: absolute;
  width: 25px;
  top: 5px;
  left: -50px;
  fill: #999;
}

blockquote cite {
  display: block;
  font-size: 18px;
  margin-top: 30px;
}

blockquote cite:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 2px;
  background: #eee;
  margin-right: 10px;
}


/**
 * Gallery
 */

.gallery {
  display: flex;
  flex-wrap: wrap;
}

  .gallery_item {
    width: 33.3333%;
    padding: 0 40px 40px 0;
    box-sizing: border-box;
  }

  .gallery_item img {
    width: 100%;
    margin-bottom: 10px;
  }

  .gallery_item h3 {
    font-size: 20px;
  }

  .gallery_item p {
    color: #999;
    font-size: 16px;
  }
